name: Build and test

on:
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    name: Build and run
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2.6.0
      - uses: docker/build-push-action@v4.0.0
        with:
          tags: excel2latex:latest
          load: true
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
      # tries to use sh, not available in container
      # - uses: addnab/docker-run-action@v3
      #   with:
      #     image: excel2latex:latest
